PORT=3000
NODE_ENV=development

MESHY_API_KEY=msy_xxxxxxxxxxxxxxxxxxxxxxx
MESHY_BASE_URL=https://api.meshy.ai/openapi/v1
MESHY_WEBHOOK_SECRET=genera_un_string_aleatorio_largo_aqui

FIREBASE_PROJECT_ID=marketplace-e7d4e
FIREBASE_STORAGE_BUCKET=marketplace-e7d4e.firebasestorage.app
GOOGLE_APPLICATION_CREDENTIALS=../service-account.json

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

REDIS_URL=redis://localhost:6379

PUBLIC_BASE_URL=https://tu-api.run.app

MAX_CREDITS_PER_MONTH=200
